{{! <img src='imgs/sesi-logo.png' class='img-logo'> }}
<div class="login-box">
  <h2>CAMPEONATO - 2021</h2>
  <form name="login" method="POST">
    <div class="user-box">
      <input type="text" name="username" required="required" />
      <label>Usuário</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="required" />
      <label>Senha</label>
    </div>
    <a href="javascript:void(0)" onclick="validate()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Entrar
    </a>
  </form>
</div>