<head>
  <title>Competição - 2021</title>
  <meta charset="UTF-8" />
  <meta name="author" content="André Contiero" />
  <meta name="description" content="Interclasses 2020 - SESI 083" />
  <link rel="icon" href="/imgs/icon.png" type="image/png" sizes="16x16" />

  {{#if loginPage}}
    <link rel="stylesheet" href="styles/login.css" />
  {{/if}}

  <link rel="stylesheet" href="styles/dashboard.css" />
  <link rel="stylesheet" href="styles/Bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/alertfy/css/alertify.min.css" />

  <link
    rel="stylesheet"
    href="styles/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
  />

</head>